<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
<h1>Text Analyzer, Enter the text here:</h1>
<form action="/analyzed" method="get">
<textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 412px; height: 140px;"></textarea>
    <br>

    <input type="checkbox" name="RemovePunc" >Remove Punctuations <br>
    <input type="checkbox" name="fullcaps" >Upper case <br>
    <input type="checkbox" name="newlineremover" >New line remover <br>
    <input type="checkbox" name="spaceremover" >Space remover <br>
    <input type="checkbox" name="charcount" >Character count <br>
    <button type="submit">analayze the text</button>
</form>

</body>
</html>